.schema-block {
  height: 120px;
  width: 88px;
  border: 3px solid #000;
  &:hover {
    cursor: pointer;
  }
}
.br009 {
  background-image: url("../static/images/br009.png");
  background-size: cover;
}
.modal-block-img {
  background-image: url("../static/images/refactored/br009.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
.modal-block-info {
  height: 470px;
}
.block-content {
  overflow-y: scroll;
}


.modal-info-image {
  height: 450px;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}
